POSTGRES_DB=sais
POSTGRES_USER=sais
POSTGRES_PASSWORD=sais_password
PGADMIN_DEFAULT_EMAIL=admin@sais.local
PGADMIN_DEFAULT_PASSWORD=admin
APP_PORT=3000
DATABASE_URL=postgresql://sais:sais_password@postgres:5432/sais?schema=public
REDIS_URL=redis://redis:6379
